.nav-list {
    ul {
      li {
        margin-bottom: 36px;
      }
    }
  }
  
  @media (min-width: 768px) {
    .nav-list {
      ul {
        li {
          margin-bottom: 0;
          margin-left: 20px;
        }
      }
    }
  }